streamlit
streamlit-lottie
streamlit-option-menu
google-genai
pymongo
chromadb
python-dotenv
requests
groq
duckduckgo-search
PyMuPDF
python-pptx
bcrypt
PyJWT
fastapi
uvicorn
python-multipart
redis
slowapi
